figcaption.has-caption-copy {
	cursor: pointer;
	position: relative;
}

figcaption.has-caption-copy:hover {
	text-decoration: underline dotted;
}

figcaption.has-caption-copy.is-copied::after {
	content: "Copied!";
	margin-inline-start: 0.5em;
	font-size: 0.75em;
	opacity: 0.75;
}
